<section id="ps-container" class="ps-container publicites">
    <div class="ps-slidewrapper">
        <nav>
            <a href="#" class="ps-prev"><span class="icon-Fichier-4"></span></a>
            <a href="#" class="ps-next"><span class="icon-Fichier-3"></span></a>
        </nav>
    </div>
    <div class="ps-contentwrapper">
        <div class="ps-content">
            <div>
                <h1>Dégustez nos macarons !</h1>
                <a href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Nos macarons', 'SearchLink':'vitguid=927DF8EB-AC8B-4B6D-BEED-7D76774E7AA5' })" class="bt"><span class="icon-Fichier-2"></span> Voir les produits</a>
            </div>

        </div>
        <div class="ps-content">
            <h1>Retrouvez nos meilleures ventes</h1>
            <a href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Nos meilleures', 'SearchLink':'vitguid=62EE7138-8BFD-4B3D-88F7-4EFD134F3208' })" class="bt"><span class="icon-Fichier-2"></span> Voir les produits</a>
        </div>
        <!--<div class="ps-content">
            <h1>Les macarons aux chocolat 3</h1>
            <a href="" class="bt" ><span class="icon-Fichier-2"></span> Voir les produits</a>
        </div>-->
    </div>
    <div class="ps-slidewrapper">
        <div class="ps-slides">
            <div style="background-image:url(https://clientsimplemente.blob.core.windows.net/digitalsignage-resources/bg-home.jpg);"></div>
            <div style="background-image:url(https://clientsimplemente.blob.core.windows.net/digitalsignage-resources/bg-2.jpg);"></div>
            <!--            <div style="background-image:url(/app/vending/themes/e923af7a-2951-4a5b-9db1-03edc8d048d7/img/bg-home.jpg);"></div>-->
        </div>
    </div>

</section>
<section class="home-cat">
    <a class="rubri bg-orange-2" href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Fait maison', 'SearchLink':'segpk=2' })">
        <span class="icon icon-Fichier-16"></span>
        <h2>
            <span>Produits faits<br /></span>
            maison
        </h2>
        <span class="icon-Fichier-3"></span>
    </a>
    <a class="rubri bg-gris" href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Confiseries', 'SearchLink':'segpk=21' })">
        <span class="icon icon-Fichier-15"></span>
        <h2>
            <span>Verrines<br /></span>
            confiseries
        </h2>
        <span class="icon-Fichier-3"></span>
    </a>
    <a class="rubri bg-orange" href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Traiteur', 'SearchLink':'segpk=28' })">
        <span class="icon icon-Fichier-10"></span>
        <h2>
            <span>Produits<br /></span>
            Traiteur
        </h2>
        <span class="icon-Fichier-3"></span>
    </a>
</section>
