<section class="panier-sect">

    <div class="panier-erreur" ng-if="erreur!=null">
        <p ng-bind="erreur.Message"></p>
        <p class="center-block"><button class="bt bt-cta" ng-click="events.clearError()">OK</button></p>
    </div>


    <div class="panier-content">
        <div class="panier-dispo">
            <div class="title">
                <h2>
                    Dispo immédiatement<br />
                    <span>Sur place ou à emporter</span>

                </h2>
            </div>

            <div class="panier-prod" ng-show="events.getLignesDuGroupe('(m)').length>0">
                <div class="prod-ligne" ng-repeat="ligne in events.getLignesDuGroupe('(m)')">
                    <a href="#" class="prod-supp prod-ligne-bloc" ng-click="events.removeLigne(ligne)">
                        <span class="icon-Fichier-30"> </span>
                    </a>
                    <a href="" class="prod-img prod-ligne-bloc">
                        <div class="img" ng-style="{'background-image':'url('+ligne.ImageUrl+')'}"></div>
                    </a>
                    <div class="panier-prod-content  prod-ligne-bloc">
                        <a href="" class="panier-prod-libel">
                            {{ligne.Libelle}}
                        </a><div class="format">{{ligne.AttributsDifferentiants[0]}}</div>
                        <div class="qt">
                            x <input type="number" ng-model="ligne.Quantite" ng-change="events.updateLigne(ligne)" select-on-click="true" /> <!--<button><span class="icon-Fichier-6"></span></button>-->
                        </div>

                        <div class="prix-unit">
                            <span ng-bind-html="ligne.PuFinalTTC * ligne.Quantite | FormatCurrency"></span>
                        </div>

                    </div>
                    <a href="" class="change  prod-ligne-bloc" ng-class="{'disabled' : !(ligne.DisponibleCentrale)}" ng-click="events.changeIsLocal(ligne, false)"><span class="icon-Fichier-3 bg-orange-2"></span></a>
                </div>

                <div class="prod-ligne-total">
                    Total dispo immédiatement : <span class="orange-2" ng-bind-html="events.getTotalTTCDuGroupe('(m)')  | FormatCurrency"></span>
                </div>
            </div>
            <div class="panier-prod-vide ng-hide" ng-show="events.getLignesDuGroupe('(m)').length<=0">
                <img src="/app/vending/themes/e923af7a-2951-4a5b-9db1-03edc8d048d7/picto-panier-vide-2.svg" height="112" width="86" alt="">
                <p>Votre panier<br />est actuellement vide !</p>
                <button ng-click="events.goTo('HomePage')" class="bt bt-cta bg-orange-2">
                    <span class="icon-Fichier-12"></span>
                    continuer mes achats
                </button>
            </div>
        </div>
        <div class="panier-comm">
            <div class="title">
                <h2>
                    Dispo sur commande<br />
                    <span>Livraison à domicile ou en magasin</span>
                </h2>
            </div>
            <div class="panier-prod" ng-show="events.getLignesDuGroupe('').length>0">
                <div class="prod-ligne" ng-repeat="ligne in events.getLignesDuGroupe('')">
                    <a href="" class="change  prod-ligne-bloc" ng-class="{'disabled' : !(ligne.DisponibleMagasin)}" ng-click="events.changeIsLocal(ligne, true)"><span class="icon-Fichier-4 bg-orange"></span></a>
                    <a href="" class="prod-img prod-ligne-bloc">
                        <div class="img" ng-style="{'background-image':'url('+ligne.ImageUrl+')'}"></div>
                    </a>
                    <div class="panier-prod-content  prod-ligne-bloc">
                        <a href="" class="panier-prod-libel">
                            {{ligne.Libelle}}
                        </a>
                        <div class="format">{{ligne.AttributsDifferentiants[0]}}</div>
                        <div class="qt">
                            x <input type="number" ng-model="ligne.Quantite" ng-change="events.updateLigne(ligne)" select-on-click="true" /> <!--<button><span class="icon-Fichier-6"></span></button>-->
                        </div>

                        <div class="prix-unit">
                            <span ng-bind-html="ligne.PuFinalTTC * ligne.Quantite | FormatCurrency"></span>
                        </div>
                    </div>
                    <a href="#" class="prod-supp prod-ligne-bloc" ng-click="events.removeLigne(ligne)">
                        <span class="icon-Fichier-30"> </span>
                    </a>
                </div>
                <div class="prod-ligne-total">
                    Total sur commande : <span class="orange" ng-bind-html="events.getTotalTTCDuGroupe('')  | FormatCurrency"></span>
                </div>
            </div>
            <div class="panier-prod-vide ng-hide" ng-show="events.getLignesDuGroupe('').length<=0">
                <img src="/app/vending/themes/e923af7a-2951-4a5b-9db1-03edc8d048d7/picto-panier-vide.svg" height="112" width="86" alt="">
                <p>Votre panier<br />est actuellement vide !</p>
                <button ng-click="events.goTo('HomePage')" class="bt bt-cta">
                    <span class="icon-Fichier-12"></span>
                    continuer mes achats
                </button>
            </div>
        </div>
    </div>

    <div class="panier-cta">
        <div class="panier-total">
            <span class="light">Total :</span>	 <span ng-bind-html="(events.getTotalTTCDuGroupe('') + events.getTotalTTCDuGroupe('(m)')) | FormatCurrency"></span>
        </div>
        <div class="cta-bt">
            <button class="bt bt-cta" ng-click="events.goTo('ProcessStep1')" ng-class="{'disabled': events.getTotalTTCDuGroupe('')<=0 && events.getTotalTTCDuGroupe('(m)')<=0}">
                <span class="icon-Fichier-12"></span>
                Valider le panier
            </button>
        </div>
    </div>
    <div class="panier-bg"></div>
</section>