<section class="produit">
    <div class="produit-content">
        <div class="produit-img">
            <div ng-style="{'background-image':'url('+article.MainImage+')'}">

            </div>
        </div>
        <div class="produit-tabs">
            <div class="tab">
                <button class="tablinks" style="display:none" ng-click="activeTab = 'quantite'" ng-class="{'active' : activeTab == 'quantite'}"><span class="icon-Fichier-26"></span> Quantité</button>
                <button class="tablinks" ng-click="activeTab = null" ng-class="{'active' : activeTab == null}"><span class="icon-Fichier-21"></span> Description</button>
                <button class="tablinks" ng-click="activeTab = 'technique'" ng-class="{'active' : activeTab == 'technique'}"><span class="icon-Fichier-20"></span> Fiche technique</button>
                <button class="tablinks" ng-click="activeTab = 'avis'" ng-class="{'active' : activeTab == 'avis', 'disabled': article.AvisResume==null || article.AvisResume.length==0}"><span class="icon-Fichier-22"></span> Avis des clients</button>
                <button class="tablinks" ng-click="activeTab = 'aimerez'" ng-class="{'active' : activeTab == 'aimerez', 'disabled': article.ArticlesAssociesAAfficher==null || article.ArticlesAssociesAAfficher.length==0}"><span class="icon-Fichier-23"></span> Vous aimerez aussi</button>
            </div>
            <div class="allTabs">
                <div id="quantite" class="tabcontent" ng-show="activeTab=='quantite'">
                    <div class="grammage tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Choix du grammage</h3>
                            <div class="qt">
                                <div class="component">
                                    <span class="qt-detail">200g</span>
                                    <!-- Start Nav Structure -->
                                    <div class="button-rond">
                                        <button class="cn-button" id="cn-button"><span class="icon-Fichier-6"></span></button>
                                        <div class="cn-wrapper" id="cn-wrapper">
                                            <ul>
                                                <li><a href="#"><span>50</span></a></li>
                                                <li><a href="#"><span>100</span></a></li>
                                                <li><a href="#"><span>200</span></a></li>
                                                <li><a href="#"><span>300</span></a></li>
                                                <li><a href="#"><span>400</span></a></li>
                                                <li><a href="#"><span>500</span></a></li>
                                                <li><a href="#"><span>+</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End of Nav Structure -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qt tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Choix de la quantité</h3>
                            <div class="qt">
                                <div class="component">
                                    <span class="qt-detail">x1</span>
                                    <!-- Start Nav Structure -->
                                    <button class="cn-button" id="cn-button"><span class="icon-Fichier-6"></span></button>
                                    <div class="cn-wrapper" id="cn-wrapper">
                                        <ul>
                                            <li><a href="#"><span>50</span></a></li>
                                            <li><a href="#"><span>100</span></a></li>
                                            <li><a href="#"><span>200</span></a></li>
                                            <li><a href="#"><span>300</span></a></li>
                                            <li><a href="#"><span>400</span></a></li>
                                            <li><a href="#"><span>500</span></a></li>
                                            <li><a href="#"><span>+</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- End of Nav Structure -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prix tab-bloc" ng-class="{'prix-promo' : article.EstEnPromo}">
                        <div class="tab-bloc-content">
                            <p class="tab-bloc-prix" ng-if="!article.EstEnPromo">
                                à l'unité<br />
                                <span class="prix" ng-bind-html="article.PuTTC | FormatCurrency"></span>
                                <span class="dispo" ng-hide="article.DisponibleMagasin">UNIQUEMENT SUR COMMANDE</span>
                            </p>
                            <p class="tab-bloc-prix prix-promo" ng-if="article.EstEnPromo">
                                à l'unité<br />
                                <span class="prix-barre" ng-bind-html="article.PuTTC | FormatCurrency"></span>
                                <span class="prix" ng-bind-html="article.PuPromoTTC | FormatCurrency"></span>
                                <span class="dispo" ng-hide="article.DisponibleMagasin">UNIQUEMENT SUR COMMANDE</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="description" class="tabcontent" ng-show="activeTab==null">
                    <div class="fab tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Description</h3>
                            <p ng-bind="article.Description"></p>
                        </div>
                    </div>
                    <div class="cons tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Conservation</h3>
                            <p ng-bind="events.getAttributeValue(article,'3EF27B27-8AA4-4852-8D77-508DD3CC18C7')"></p>
                        </div>
                    </div>

                    <div class="prix tab-bloc" ng-class="{'prix-promo' : article.EstEnPromo}">
                        <div class="tab-bloc-content">
                            <p class="tab-bloc-prix" ng-if="!article.EstEnPromo">
                                à l'unité<br />
                                <span class="prix" ng-bind-html="article.PuTTC | FormatCurrency"></span>
                                <span class="dispo" ng-hide="article.DisponibleMagasin">UNIQUEMENT SUR COMMANDE</span>
                            </p>
                            <p class="tab-bloc-prix prix-promo" ng-if="article.EstEnPromo">
                                à l'unité<br />
                                <span class="prix-barre" ng-bind-html="article.PuTTC | FormatCurrency"></span>
                                <span class="prix" ng-bind-html="article.PuPromoTTC | FormatCurrency"></span>
                                <span class="dispo" ng-hide="article.DisponibleMagasin">UNIQUEMENT SUR COMMANDE</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="technique" class="tabcontent" ng-show="activeTab=='technique'">
                    <div class="fab tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Fabrication et composition</h3>
                            <p ng-bind="events.getAttributeValue(article,'0969D3FE-B00C-461C-8A5C-53190E4BE498')"></p>
                        </div>
                    </div>
                    <div class="desc tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Allergènes</h3>
                            <ul>
                                <li ng-show="events.getAttributeValue(article,'42232ADE-9D98-44A7-A9DD-06B44D86084F')=='True'">Soja</li>
                                <li ng-show="events.getAttributeValue(article,'BE87C2B8-25E2-4758-89C6-2A60FE3C985B')=='True'">Fruits à coques</li>
                                <li ng-show="events.getAttributeValue(article,'0D7F6856-169B-4ED0-8B2E-2CD712B9DC9F')=='True'">Crustacés</li>
                                <li ng-show="events.getAttributeValue(article,'CB00ACFD-DC59-4A4E-9E27-53EDDFBC2F9F')=='True'">Mollusques</li>
                                <li ng-show="events.getAttributeValue(article,'0C2FF3B6-0C4D-4F5B-95FC-7715DA77E7DA')=='True'">Lupin</li>
                                <li ng-show="events.getAttributeValue(article,'0F73E6FD-0C5D-4135-8D80-8BD56817B49E')=='True'">Céleri</li>
                                <li ng-show="events.getAttributeValue(article,'51AF4605-A8BA-4BC9-827B-B465814BF4FB')=='True'">Graines de sésame</li>
                                <li ng-show="events.getAttributeValue(article,'2A62193D-7A9E-4D4A-9D82-C8C59A8425B5')=='True'">Oeufs</li>
                                <li ng-show="events.getAttributeValue(article,'ABEBF55D-6C39-43FD-8C33-CAD864AAAF18')=='True'">Moutarde</li>
                                <li ng-show="events.getAttributeValue(article,'FB44706C-B03B-4780-AFF3-D5BF7CBE3AA2')=='True'">Poissons</li>
                                <li ng-show="events.getAttributeValue(article,'D9FD174F-84F8-4707-AB0D-D9F6B6843CFF')=='True'">Lait</li>
                                <li ng-show="events.getAttributeValue(article,'4109A60C-CD4B-40CC-90D2-EC836C70E296')=='True'">Sulfites</li>
                                <li ng-show="events.getAttributeValue(article,'D6D87A3D-EF1D-421C-AB3D-FB4B9B1FC42E')=='True'">Gluten</li>
                            </ul>
                        </div>
                    </div>
                    <div class="dim tab-bloc">
                        <div class="tab-bloc-content">
                            <h3>Dimensions et poids</h3>
                            <p>
                                <!--<span class="icon-Fichier-13 icon"></span> 3.5 x 2.8 cm<br />-->
                                <span class="icon-Fichier-17 icon"></span> {{article.Dimensions.PoidsBrut | FormatWeight}}
                            </p>
                        </div>
                    </div>
                    <div class="prix tab-bloc" ng-class="{'prix-promo' : article.EstEnPromo}">
                        <div class="tab-bloc-content">
                            <p class="tab-bloc-prix" ng-if="!article.EstEnPromo">
                                à l'unité<br />
                                <span class="prix" ng-bind-html="article.PuTTC | FormatCurrency"></span>
                                <span class="dispo" ng-hide="article.DisponibleMagasin">UNIQUEMENT SUR COMMANDE</span>
                            </p>
                            <p class="tab-bloc-prix prix-promo" ng-if="article.EstEnPromo">
                                à l'unité<br />
                                <span class="prix-barre" ng-bind-html="article.PuTTC | FormatCurrency"></span>
                                <span class="prix" ng-bind-html="article.PuPromoTTC | FormatCurrency"></span>
                                <span class="dispo" ng-hide="article.DisponibleMagasin">UNIQUEMENT SUR COMMANDE</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="avis" class="tabcontent" ng-show="activeTab=='avis'">
                    <div class="avis-flex" ng-show="article.AvisResume!=null || article.AvisResume.Count>0">
                        <div class="avis-scroll" id="avis-scroll">
                            <div class="avis avis1 tab-bloc">
                                <div class="tab-bloc-content">
                                    <p>
                                        Note des internautes sur : <br />
                                        <b>{{article.Libelle}}</b>
                                    </p>
                                    <p class="star">
                                        <span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 0.5"></span>
                                        <span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 1.5"></span>
                                        <span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 2.5">
                                        </span><span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 3.5">
                                        </span><span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 4.5"></span>
                                    </p>
                                    <h3> {{article.AvisResume.Count}} AVIS</h3>
                                </div>
                            </div>
                            <div class="avis avis2 tab-bloc" ng-repeat="avis in article.Avis">
                                <div class="tab-bloc-content">
                                    <p class="star">
                                        <span class="icon-Fichier-22" ng-show="avis.Note > 0.5"></span>
                                        <span class="icon-Fichier-22" ng-show="avis.Note > 1.5"></span>
                                        <span class="icon-Fichier-22" ng-show="avis.Note > 2.5"></span>
                                        <span class="icon-Fichier-22" ng-show="avis.Note > 3.5"></span>
                                        <span class="icon-Fichier-22" ng-show="avis.Note > 4.5"></span>
                                        <span class="chiffre">({{avis.Note}})</span>
                                    </p>
                                    <p><b>{{avis.Nom}}</b></p>
                                    <p ng-bind="avis.Message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="fleche" onclick="myMove()" style="display:none">
                        <span class="icon-Fichier-3"></span>
                    </button>
                </div>
                <div id="aimerez" class="tabcontent" ng-show="activeTab=='aimerez'">
                    <div class="suggest tab-bloc"
                         ng-class="{'prix-promo' : associe.EstEnPromo}"
                         ng-click="events.onProductClick(associe)"
                         ng-repeat="associe in article.ArticlesAssociesAAfficher">
                        <!-- <a href="">  -->
                        <div class="img-product" ng-style="{'background-image':'url('+associe.MainImage+')'}"></div>
                        <div class="prod-text">
                            <p class="promo" ng-if="associe.EstEnPromo">
                                -{{associe.PctRemise}}%
                            </p>

                            <p class="aimerez-libelle">{{associe.Libelle}}</p>
                            <div class="prod-text1">
                                <div class="prod-text2">
                                    <p>
                                        <span class="prix" ng-if="!associe.EstEnPromo">
                                            <span class='prix-barre' ng-bind-html="associe.PuTTC | FormatCurrency"></span>
                                        </span>
                                        <span class="prix" ng-if="associe.EstEnPromo"><span class='prix-barre' ng-bind-html="associe.PuTTC | FormatCurrency"></span><span ng-bind-html='associe.PuPromoTTC | FormatCurrency'></span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="cta">
            <div class="cta-libel">
                <p class="ref">réf : {{article.Reference}}</p>
                <h1 class="libelle">{{article.Libelle}}</h1>
            </div>
            <div class="cta-avis">
                <p class="cta-avis-1">Avis client :</p>
                <a ng-click="activeTab = 'avis'" ng-show="article.AvisResume!=null && article.AvisResume.Count>0" class="cta-avis-2">
                    <span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 0.5"></span>
                    <span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 1.5"></span>
                    <span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 2.5">
                    </span><span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 3.5">
                    </span><span class="icon-Fichier-22" ng-show="article.AvisResume.Note > 4.5"></span><span class="nb-avis">({{article.AvisResume.Note}})</span>

                    <span class="lire">
                        Lire les {{article.AvisResume.Count}} avis
                    </span>
                </a>
                <a class="cta-avis-2" ng-show="article.AvisResume==null || article.AvisResume.Count==0">Il n'y a aucun avis sur ce produit</a>
            </div>
            <div class="cta-bt">
                <a class="bt bt-cta" ng-click="events.addToCart(article, true)" ng-class="{'disabled' : cartOperationInProgress}">
                    <span class="icon-Fichier-18"></span>
                    ajoutez moi au panier
                </a>
            </div>
        </div>
    </div>
    <div class="produit-bg" ng-style="{'background-image':'url('+article.MainImage+')'}"></div>
</section>

<div class="popover pop-ajout" ng-show="lignePanier != null">

    <div class="img-ajout" ng-style="{'background-image':'url('+lignePanier.ImageUrl+')'}"></div>

    <div class="bloc2">
        <p class="ajout">L’article a été ajouté au panier !</p>
        <p>
            <span class="libelle">{{lignePanier.Libelle}}</span>
            <span class="quantite">Quantité : x{{lignePanier.Quantite}}</span>
            <span class="prix" ng-bind-html="lignePanier.PuFinalTTC | FormatCurrency"></span>

        </p>
    </div>



</div>