<section id="ps-container" class="ps-container publicites">
    <div class="ps-contentwrapper">
    </div>
    <div class="ps-slidewrapper">
        <div class="ps-slides">
            <div style="background-image:url(/app/vending/themes/e923af7a-2951-4a5b-9db1-03edc8d048d7/img/bg-home.jpg);"></div>
            <div style="background-image:url(/app/vending/themes/e923af7a-2951-4a5b-9db1-03edc8d048d7/img/bg-2.jpg);"></div>
        </div>
    </div>

</section>
<section class="home-cat">
    <a class="rubri bg-orange-2" href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Fait maison', 'SearchLink':'segpk=2' })">
        <span class="icon icon-Fichier-16"></span>
        <h2>
            <span>Produits faits<br /></span>
            maison
        </h2>
        <span class="icon-Fichier-3"></span>
    </a>
    <a class="rubri bg-gris" href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Confiseries', 'SearchLink':'segpk=21' })">
        <span class="icon icon-Fichier-15"></span>
        <h2>
            <span>Verrines<br /></span>
            confiseries
        </h2>
        <span class="icon-Fichier-3"></span>
    </a>
    <a class="rubri bg-orange" href="#" ng-click="events.onDescenteLinkClick({ 'Label':'Traiteur', 'SearchLink':'segpk=28' })">
        <span class="icon icon-Fichier-10"></span>
        <h2>
            <span>Produits<br /></span>
            Traiteur
        </h2>
        <span class="icon-Fichier-3"></span>
    </a>
</section>
